<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="site-background">
    <a href="{{ site.baseurl }}/" class="site-background"><img src="https://zaktree.github.io/files/piero.jpg" class="img-responsive" width = 100%;> </a>
</div>
    <main class="page-content" aria-label="Content">
      
      
      
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
